.sudoku-svg {
  display: block;
  width: 70vmin;
  height: 70vmin;
}

.sudoku-container {
  display: flex;
  flex-direction: row;
  gap: 69px;
  justify-content: center;
  box-sizing: border-box;
}

.tools-section {
  border: var(--color-primary) 2px solid;
  border-radius: 4px;
  padding: 25px;
  flex-direction: column;
  display: flex;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 3px #ffffff;
  /* Adjust width as necessary */
}

.social-distancing {
  margin-top: 25px;
}

.tool-button {
  background: conic-gradient(from 145deg, var(--color-primary),#FFF);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.tool-button.selected {
  background: conic-gradient(from 145deg, var(--color-gray) ,var(--color-primary));
  color: #FFF;
  box-shadow: 5px 5px 15px var(--color-primary), -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.tool-button.active {
  background: conic-gradient(from 145deg, var(--color-primary), var(--color-secondary));
  color: #FFF;
  box-shadow: 5px 5px 15px var(--color-secondary), -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.tool-button.inactive {
  background: conic-gradient(from 145deg, var(--color-primary),var(--color-error));
  color: #FFF;
}

.flex-row {
  flex-direction: row;
  gap: 30px;
}

.mobile-hidden {
  display: none !important;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .sudoku-container {
    flex-direction: column;
    align-items: center;
  }

  .tools-section {
    width: 70vw;
    margin-top: 20px;
  }

  .sudoku-svg {
    width: 95vmin;
    height: 95vmin;
  }

  .mobile-hidden {
    display: flex !important;
  }

  .tools-section {
    display: none;
  }
}

.heading-container {
  text-align: center;
}

.heading {
  font-size: 3.5rem;
  color: var(--color-gray);
  font-weight: 700;
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading.small {
  font-size: 2.5rem;
}

.heading:hover {
  background: linear-gradient(to left, var(--color-primary), var(--color-black));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modern-button {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.sudoku-solved-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 5vw;
  text-align: center;
  z-index: 1000;
}

.modern-button:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 3px 3px 10px #bbbbbb, -3px -3px 10px #ffffff;
}

.modern-button:active {
  box-shadow: inset 2px 2px 5px #aaaaaa, inset -2px -2px 5px #ffffff;
}

@keyframes blink-red {
  0%, 100% { fill: var(--color-black); }
  50% { fill: var(--color-error); }
}

.blink-animation {
  animation: blink-red 0.5s;
}

@keyframes scale-up {
  0%, 100% {fill: var(--color-secondary)}
  0% {font-size: 8px}
  50% {font-size: 10px}
  100% {font-size: 8px}
}

.success-animation {
  animation: scale-up 0.2s;
}

.success {
  fill: var(--color-secondary);
}
