<div #sudokuContainer>
  <h1 class="heading">Sudoku</h1>
  <svg viewBox="0 0 90 90" class="sudoku-svg">
    <!--  Sub Grid-->
    <ng-container *ngFor="let position of [10, 20, 30, 40, 50, 60, 70, 80]">
      <line x1="0" x2="90 " [attr.y1]="position" [attr.y2]="position" stroke="gray" stroke-width="0.25"></line>
      <line [attr.x1]="position" [attr.x2]="position" y1="0" y2="90 " stroke="gray" stroke-width="0.25"></line>
    </ng-container>

    <!--  Main Grid-->
    <line x1="0" x2="90 " y1="30 " y2="30 " stroke="black" stroke-width="0.5"></line>
    <line x1="0" x2="90 " y1="60 " y2="60 " stroke="black" stroke-width="0.5"></line>
    <line x1="30 " x2="30 " y1="0" y2="90 " stroke="black" stroke-width="0.5"></line>
    <line x1="60 " x2="60 " y1="0" y2="90 " stroke="black" stroke-width="0.5"></line>

    <!--  Numbers-->
    <ng-container *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
      <ng-container *ngFor="let j of [0, 1, 2, 3, 4, 5, 6, 7, 8]">
        <text [attr.x]="j * 10 + 3" [attr.y]="i * 10 + 8" font-size="8" font-family="Arial"
              [attr.fill]="sudoku[i][j]?.type === type.User ? 'black' : 'darkblue'"
        >
          {{sudoku[i][j]?.value}}
        </text>
      </ng-container>
    </ng-container>
  </svg>
  <div class="content">
    <button class="modern-button">Generate Sudoku</button>
  </div>
</div>
