.sudoku-svg {
  display: block;
  width: 70vmin;
  height: 70vmin;
}

.sudoku-container {
  display: flex;
  flex-direction: row;
  gap: 69px;
  justify-content: center;
  box-sizing: border-box;
}

.tools-section {
  border: var(--color-primary) 2px solid;
  border-radius: 4px;
  padding: 25px;
  flex-direction: column;
  display: flex;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5), 0 0 3px #ffffff;
}

.social-distancing {
  margin-top: 25px;
}

.numbers-section {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 10px;
  width: 90%;
}

.difficulty-section {
  display: flex;
  flex-direction: row;
  justify-self: center;
  gap: 25px;
  width: 90%;
  margin-bottom: 5%;
}

.number-button {
  background: var(--color-primary);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 1.5% 2%;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.difficulty-button {
  background: linear-gradient(90deg, var(--color-primary), #fff);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 1.5% 2%;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.tool-button.easy {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: #fff;
}

.tool-button.medium {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-black)
  );
  color: #fff;
}

.tool-button.hard {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-error)
  );
  color: #fff;
}

.difficulty-button.enabled {
  background: linear-gradient(90deg, var(--color-primary), var(--color-error));
}

.difficulty-button.enabled.easy {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: #fff;
}

.difficulty-button.enabled.medium {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-black)
  );
  color: #fff;
}

.difficulty-button.enabled.hard {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-error)
  );
  color: #fff;
}

.dropdown {
  position: relative;
  display: inline-block;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.dropdown-content {
  display: none;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
}

.dropdown-content a {
  border-radius: 8px;
  background: linear-gradient(33deg, var(--color-primary), #fff);
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #ccc;
  color: #fff;
  cursor: pointer;
}

.dropdown-content a.easy {
  background: linear-gradient(
    33deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

.dropdown-content a.medium {
  background: linear-gradient(33deg, var(--color-primary), var(--color-black));
}

.dropdown-content a.hard {
  background: linear-gradient(33deg, var(--color-primary), var(--color-error));
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tool-button {
  background: conic-gradient(from 145deg, var(--color-primary), #fff);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.tool-button.selected {
  background: conic-gradient(
    from 145deg,
    var(--color-gray),
    var(--color-primary)
  );
  color: #fff;
  box-shadow: 5px 5px 15px var(--color-primary),
    -5px -5px 15px rgba(0, 0, 0, 0.5);
}

.tool-button.active {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-secondary)
  );
  color: #fff;
}

.tool-button.inactive {
  background: conic-gradient(
    from 145deg,
    var(--color-primary),
    var(--color-error)
  );
  color: #fff;
}

.flex-row {
  flex-direction: row;
  gap: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.mobile-hidden {
  display: none !important;
}

.desktop-hidden {
  display: block !important;
}

/* Media query for smaller screens */
@media only screen and (max-width: 1000px) {
  .sudoku-container {
    flex-direction: column;
    align-items: center;
  }

  .tools-section {
    width: 70vw;
    margin-top: 20px;
    padding: 10px;
  }

  .tool-button {
    margin-top: 0;
    padding: 4% 6%;
  }

  .sudoku-svg {
    width: 95vmin;
    height: 95vmin;
  }

  .mobile-hidden {
    display: flex !important;
  }

  .mobile-hidden.heading {
    display: block !important;
  }

  .tools-section {
    display: none;
  }

  .numbers-section {
    width: 100%;
    gap: 5px;
  }

  .heading {
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    color: var(--color-secondary);
  }

  .desktop-hidden {
    display: none !important;
  }
}

.heading-container {
  text-align: center;
}

.heading {
  font-size: 3.5rem;
  color: var(--color-black);
  font-weight: 700;
  margin: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.heading.timer {
  margin: 5px;
}

.heading.small {
  font-size: 2.5rem;
}

.heading:hover {
  background: linear-gradient(
    to left,
    var(--color-primary),
    var(--color-black)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modern-button {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 15px #4c5868, -5px -5px 15px #ffffff;
  color: #333333;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  margin-top: 20px;
  transition: all 0.3s ease;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.sudoku-solved-text {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-size: 5vw;
  text-align: center;
  z-index: 1000;
}

.modern-button:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 3px 3px 10px #bbbbbb, -3px -3px 10px #ffffff;
}

.modern-button:active {
  box-shadow: inset 2px 2px 5px #aaaaaa, inset -2px -2px 5px #ffffff;
}

@keyframes blink-red {
  0%,
  100% {
    fill: var(--color-black);
  }
  50% {
    fill: var(--color-error);
  }
}

.blink-animation {
  animation: blink-red 0.5s;
}

@keyframes scale-up {
  0%,
  100% {
    fill: var(--color-secondary);
  }
  0% {
    font-size: 8px;
  }
  50% {
    font-size: 10px;
  }
  100% {
    font-size: 8px;
  }
}

.success-animation {
  animation: scale-up 0.2s;
}

.success {
  fill: var(--color-secondary);
}
