@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-VariableFont.ttf') format('ttf'),
  url('/assets/fonts/Inter/Inter-Italic-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}
