@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/Inter/Inter-VariableFont.ttf') format('ttf'),
  url('/assets/fonts/Inter/Inter-Italic-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  --color-black: #0D0C07;
  --color-gray: #282515;
  --color-error: #92140C;
  --color-primary: #153779;
  --color-secondary: #0DBF6F;
}
